<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello Visitor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/david/css/david.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
</head>
<body class="dav-bg-color-gradient-1">

    <div class="container dav-w-h-100">
        <div class="row">
            <div class="col-sm-12 d-flex flex-column dav-fm-1" id="info_visit">
                {% include 'pieces/info_visit.html' %}
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center" id="homeMainBtn">
                {% include 'pieces/button_user.html' %}
            </div>
        </div>


        <!-- Messages -->
        {% include 'messages_zone.html' %}


        <!-- Modals -->
        {% include 'modal_signin.html' %}
        {% include 'modal_signup.html' %}
        {% include 'modal_user_info.html' %}
    </div>

    {% include 'scriptsjs.html' %}
    <script type="text/javascript" src="{{ url_for('home_bp.static', filename='home.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('user_bp.static', filename='js/user_info.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('user_bp.static', filename='js/signin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('user_bp.static', filename='js/signup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('message_bp.static', filename='js/message.js') }}"></script>
</body>
</html>