<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello Visitor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="info_visit">
                {% include 'pieces/info_visit.html' %}
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12" id="homeMainBtn">
                {% include 'pieces/button_user.html' %}
            </div>
        </div>


        <!-- Modals -->
        {% include 'modal_signin.html' %}
        {% include 'modal_signup.html' %}
        {% include 'modal_user_info.html' %}
    </div>

    {% include 'scriptsjs.html' %}
    <script type="text/javascript" src="{{ url_for('home_bp.static', filename='home.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('user_bp.static', filename='js/user_info.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('user_bp.static', filename='js/signin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('user_bp.static', filename='js/signup.js') }}"></script>
</body>
</html>