<div class="modal fade dav-modal-user-sign" id="modal-user-info" tabindex="-1" role="dialog" aria-labelledby="userInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content  dav-bg-modal-user-info">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="userInfoModalLabel">Your account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!--<span aria-hidden="true">&times;</span>-->
            <i class="fa fa-times text-white" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">

          <form id="form-userinfo">

            <p id="text_info_user_info" class="text-danger"></p>

          </form>
          
          <button id="btn-logout" class="btn btn-block">Log out</button>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>