<div class="row dav-row-messages">
    <div id="dav-loading-messages"><div class="spinner-grow"></div></div>
    <div class="col-sm-12 dav-w-h-100">
        <div class="dav-messages-body" id="dav-messages-body">
            <!--<div class="dav-bloc-message dav-msg-others" data-user-id="16" data-message-id="1">
                <div class="dav-msg-user-icon"></div>
                <div class="dav-msg-infos">
                    <div class="dav-msg-user-name">Humina</div>
                    <div class="dav-msg-text">Salut toiiii !!!</div>
                    <div class="dav-msg-date">14-03-21 05:16</div>
                </div>
            </div>

            <div class="dav-bloc-message dav-msg-others" data-user-id="16">
                <div class="dav-msg-user-icon"></div>
                <div class="dav-msg-infos">
                    <div class="dav-msg-user-name">Humina</div>
                    <div class="dav-msg-text">Comment va la vie ?</div>
                    <div class="dav-msg-date">14-03-21 05:16</div>
                </div>
            </div>

            <div class="dav-bloc-message dav-msg-others" data-user-id="16">
                <div class="dav-msg-user-icon"></div>
                <div class="dav-msg-infos">
                    <div class="dav-msg-user-name">Humina</div>
                    <div class="dav-msg-text">Mais réponds euh :'(</div>
                    <div class="dav-msg-date">14-03-21 05:17</div>
                </div>
            </div>

            <div class="dav-bloc-message dav-msg-mine" data-user-id="8">
                <div class="dav-msg-user-icon"></div>
                <div class="dav-msg-infos">
                    <div class="dav-msg-user-name">David</div>
                    <div class="dav-msg-text">Euh saluuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu uuuuuuuuuuuuuuuuut xD</div>
                    <div class="dav-msg-date">14-03-21 05:18</div>
                </div>
            </div>

            <div class="dav-bloc-message dav-msg-others" data-user-id="16">
                <div class="dav-msg-user-icon"></div>
                <div class="dav-msg-infos">
                    <div class="dav-msg-user-name">Humina</div>
                    <div class="dav-msg-text">Pffffffffffffffffffffffff               ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff        fffffffffffff fffffffffffffffffffffffffffffffffffffff ffffffffffffffffffffffffffffffff fffffffffffffffffffffffffff ffffffffffffffffffffffffffff ffffffffffffffffffffff...</div>
                    <div class="dav-msg-date">14-03-21 05:20</div>
                </div>
            </div>

            <div class="dav-bloc-message dav-msg-others" data-user-id="16">
                <div class="dav-msg-user-icon"></div>
                <div class="dav-msg-infos">
                    <div class="dav-msg-user-name">Humina</div>
                    <div class="dav-msg-text">Je te déteste.</div>
                    <div class="dav-msg-date">14-03-21 05:20</div>
                </div>
            </div>-->
        </div>

        <div class="dav-messages-input">
            {% include 'pieces/message_input_send.html' %}
        </div>
    </div>
</div>